$family-sans-serif: 'BIZ UDPGothic', sans-serif;
$family-monospace: 'Source Code Pro', monospace;
$family-secondary: 'Zen Maru Gothic', sans-serif;
$navy: #25316D;
$blue: #3246D3;
$teal: #14D2FF;
$red: #fa5a7d;
$snow: #F4F7F9;
$subtle: #E9E9E9;
$myst: #F1F6FD;
$cloud: #E3EBF7;
$primary: $blue;
$text: $navy;
$title-color: $navy;
$content-heading-color: $navy;
$label-color: $navy;
$link: $blue;
$shadow: 0 0.5em 1em 0em rgba($blue, 0.1), 0 0px 0 1px rgba($text, 0.01);
$radius-small: 0.25rem;
$radius: 0.5rem;
$hero-body-padding-tablet: 6rem 3rem;
$footer-background-color: $cloud;
$box-radius: $radius;
$box-padding: 2.0rem;
$modal-card-head-background-color: $snow;
$modal-card-head-border-bottom: 2px solid $subtle;
$modal-card-foot-border-top: 2px solid $subtle;
$tile-spacing: 1.5rem;
@import '~bulma/bulma';
.select select {
  border: none;
}
.input, .textarea, .button, .select select {
  border-radius: $radius-small;
}
.button {
  box-shadow: $shadow;
}
.button.is-primary.is-light {
  background: $white;
}
.has-background-hero {
  background: radial-gradient($blue, #4a31ca);
}
.has-background-navbar {
  background: linear-gradient(to right, $blue, #4a31ca);
}
.has-background-snow {
  background-color: $snow;
}
.has-background-myst {
  background-color: $myst;
}
.has-background-cloud {
  background-color: $cloud;
}
.has-border-subtle-top {
  border-top: solid 1px $subtle;
}
.is-size-6-half {
  font-size: 0.9rem;
}
.lh-1 {
  line-height: 1.75;
}
.lh-2 {
  line-height: 2.0;
}
