$family-sans-serif: 'BIZ UDPGothic', sans-serif;
$family-monospace: 'Source Code Pro', monospace;
$blue: #54BAB9;
$teal: #9ED2C6;
$red: #FF5D5D;
$subtle: #e9e9e9;
$paper: #FCF8F3;
$sand: #F7ECDE;
$light: $subtle;
$border: $sand;
$link: $blue;
$primary: $blue;
$text: #424242;
$text-strong: $text;
$radius: 0.5rem;
$radius-large: 0.75rem;
$title-color: $blue;
$hero-body-padding-tablet: 6rem 3rem;
$card-radius: 0.75rem;
$card-shadow: none;
$card-header-shadow: none;
$card-header-background-color: $sand;
$card-header-padding: 0.75rem 1.5rem;
$card-footer-border-top: none;
$modal-card-head-background-color: $paper;
$modal-card-head-border-bottom: 2px solid $sand;
$modal-card-foot-border-top: 2px solid $sand;
$input-hover-border-color: $teal;
$button-border-width: 2px;
@import '~bulma/bulma';
.lh-1 {
  line-height: 1.75;
}
.lh-2 {
  line-height: 2.0;
}
.has-background-subtle {
  background-color: #fafafa;
}
.has-background-paper {
  background-color: $paper;
}
.has-background-sand {
  background-color: $sand;
}
.has-border-sand-bottom {
  border-bottom: solid 2px $sand;
}
.has-border-subtle-top {
  border-top: solid 1px $subtle;
}
.has-border-subtle-right {
  border-right: solid 1px $subtle;
}
.is-size-6-half {
  font-size: 0.9rem;
}
.select select, .input, .textarea {
  border-width: 2px;
  background-color: transparent;
}
.button {
  font-weight: $weight-bold;
}
.hero-separator {
  border: 2px solid $sand;
  width: 120px;
  margin: 2rem auto 3rem;
}
